{{ define "main" }}
<section class="mb-12">
    <h1 class="page-title text-2xl mb-6 text-black border-t border-gray-200 pt-8">Posts tagged with "{{ .Title }}"</h1>
    
    <div class="space-y-10">
        {{ range .Pages.ByDate.Reverse }}
        <article class="flex flex-col sm:flex-row gap-6">
            {{ $dateParts := split (.Date.Format "Jan 2, 2006") " " }}
            {{ $day := index $dateParts 1 }}
            {{ $monthYear := printf "%s %s" (index $dateParts 0) (index $dateParts 2) }}
            
            <div class="w-28 text-sm text-gray-500 flex-shrink-0">
                <p>{{ $day }}</p>
                <p>{{ $monthYear }}</p>
            </div>
            <div>
                <h3 class="post-title text-xl mb-1">
                    <a href="{{ .Permalink }}" class="link-style">{{ .Title }}</a>
                </h3>
                <p class="text-sm text-gray-400 mb-2">priyamalok.me</p>
                <p>{{ .Description }}</p>
            </div>
        </article>
        {{ end }}
    </div>
</section>
{{ end }}